.titulo {
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    h1 {
        text-align: center;
        color: #3D3737;
        padding: 5px;
    }
}

.colores {
    display: flex;
    flex-wrap: wrap;
    app-color {
        margin: 5px;
        flex-grow: 1;
        flex-basis: calc(30%);
        border-radius: 10px;
        min-width: 275px;
    }
}

.paginacion {
    height: 50px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    .pagina-btn {
        span {
            cursor: pointer;
        }
        button:focus {
            outline: none;
        }
    }
}

.loading {
    margin-top: 200px
}

.error {
    margin-top: 200px;
    p {
        font-size: 20px;
    }
    mat-icon {
        font-size: 100px;
        height: 200px !important;
        width: 200px !important;
    }
}